input::-webkit-calendar-picker-indicator {
    opacity: 0;
}


.input-button {
    display: flex;
    align-items: center;
}

#prodForm {
    display: none;
}

#prodList {
    display: block;
}

@media screen and (max-width: 750px) {
    #prodList {
        display: none;
    }

    #prodForm {
        display: block;
    }
}